{
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "semi": true,
        "printWidth": 120
      }
    }
  ]
}
